body[b-yda9vx2bpx] {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container[b-yda9vx2bpx] {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.logo h1[b-yda9vx2bpx] {
    margin: 10px 0 0;
    font-size: 24px;
    color: #33472C;
}

.logo p[b-yda9vx2bpx] {
    margin: 0 0 20px;
    font-size: 12px;
    color: #33472C;
}

.form-group[b-yda9vx2bpx] {
    margin: 15px 0;
}

    .form-group .form-control[b-yda9vx2bpx] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
    }

.btn[b-yda9vx2bpx] {
    width: 100%;
    padding: 10px;
    background: #A54258;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

    .btn:hover[b-yda9vx2bpx] {
        background: #8f384b;
    }

.login[b-yda9vx2bpx] {
    margin-top: 20px;
    font-size: 14px;
}

    .login a[b-yda9vx2bpx] {
        color: #00a3e0;
        text-decoration: none;
    }

        .login a:hover[b-yda9vx2bpx] {
            text-decoration: underline;
        }

/* Estilo adicional para o select */
.form-group select.form-control[b-yda9vx2bpx] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}
