<div class="category-slider">
    @if (categorias == null)
    {
        <div class="loading-message">
            <p>A carregar categorias...</p>
        </div>
    }
    else if (categorias.Count == 0)
    {
        <div class="no-products-message">
            <p>Nenhuma Categoria disponível!</p>
        </div>
    }
    else
    {
        <div class="slider-container">
            @foreach (var category in categorias)
            {
                <div class="category-item" @onclick="() => OnCategoryClick(category.ID)">
                    <img alt="@category.Nome" src="@category.UrlImagem" width="100" height="100" />
                    <p>@category.Nome</p>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public List<Categoria> Categories { get; set; } = new List<Categoria>();

    private List<Categoria> categorias { get; set; } = new List<Categoria>();

    private Categoria allCategoria = new Categoria
    {
        ID = 0,
        Nome = "Todas",
        Ordem = 0,
        UrlImagem = "https://blog.alterdata.com.br/wp-content/uploads/2022/12/tendenciaslojaderoupa.jpeg"
    };

    protected override void OnParametersSet()
    {
        categorias = new List<Categoria>(Categories);
        categorias.Insert(0, allCategoria);
        categorias = categorias.OrderBy(c => c.Ordem).ToList();
    }

    [Parameter]
    public EventCallback<int> OnCategorySelected { get; set; }

    private async Task OnCategoryClick(int categoryId)
    {
        await OnCategorySelected.InvokeAsync(categoryId);
    }
}
