@if (IsVisible)
{
    <div class="notification-overlay">
        <div class="notification @NotificationType">
            <div class="notification-content">
                <p>@Message</p>
            </div>
            <button @onclick="Close">Fechar</button>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public string Message { get; set; }
    [Parameter] public string NotificationType { get; set; } = "success";
    [Parameter] public EventCallback OnClose { get; set; }

    private void Close()
    {
        IsVisible = false;
        OnClose.InvokeAsync();
    }
}
