.detalhes-encomenda-container[b-opf7ki7r2k] {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h2[b-opf7ki7r2k], h3[b-opf7ki7r2k] {
    color: #333;
    margin-bottom: 20px;
}

.encomenda-info[b-opf7ki7r2k] {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

    .encomenda-info p[b-opf7ki7r2k] {
        margin: 10px 0;
    }

.produtos-lista[b-opf7ki7r2k] {
    margin-top: 20px;
}

table[b-opf7ki7r2k] {
    width: 100%;
    border-collapse: collapse;
}

th[b-opf7ki7r2k], td[b-opf7ki7r2k] {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th[b-opf7ki7r2k] {
    background-color: #f2f2f2;
    font-weight: bold;
}

.acoes[b-opf7ki7r2k] {
    margin-top:30px;
    display: flex;
    justify-content: space-around;
}

.btn-voltar[b-opf7ki7r2k] {
    background-color: #A54258;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-voltar:hover[b-opf7ki7r2k] {
        background-color: #8e3a4c;
    }

.btn-confirmar[b-opf7ki7r2k], .btn-voltar[b-opf7ki7r2k] {
    padding: 10px 20px; 
    font-size: 16px; 
}

.btn-confirmar[b-opf7ki7r2k] {
    background-color: #A54258;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    table[b-opf7ki7r2k], thead[b-opf7ki7r2k], tbody[b-opf7ki7r2k], th[b-opf7ki7r2k], td[b-opf7ki7r2k], tr[b-opf7ki7r2k] {
        display: block;
    }

        thead tr[b-opf7ki7r2k] {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr[b-opf7ki7r2k] {
        margin-bottom: 15px;
    }

    td[b-opf7ki7r2k] {
        border: none;
        position: relative;
        padding-left: 50%;
    }

        td[b-opf7ki7r2k]:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-label);
            font-weight: bold;
        }
}
