html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
