.suggestion {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .suggestion img {
        width: 50px;
        margin-right: 20px;
    }

    .suggestion div {
        flex-grow: 1;
    }

    .suggestion .price {
        font-weight: bold;
    }

    .suggestion:hover{
        cursor:pointer;
    }
