.header[b-s0gm37b5nc] {
    background-color: #33472C;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar-title h1[b-s0gm37b5nc] {
    color: white;
    margin: 0;
    text-decoration: none;
}

.header .navbar-title[b-s0gm37b5nc]  a {
    text-decoration: none;
    color: white;
}

.header .navbar-title[b-s0gm37b5nc]  a:hover {
    text-decoration: none;
    color: white;
}

.header .nav[b-s0gm37b5nc] {
    display: flex;
    align-items: center;
}

.header .nav[b-s0gm37b5nc]  .nav-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.header .nav[b-s0gm37b5nc]  .nav-link:hover {
    text-decoration: underline;
}

.nav-icon[b-s0gm37b5nc] {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
