body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.logo h1 {
    margin: 10px 0 0;
    font-size: 24px;
    color: #33472C;
}

.logo p {
    margin: 0;
    font-size: 12px;
    color: #33472C;
}

.form-group {
    margin: 20px 0;
}

    .form-group .form-control {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

.form-group a {
    display: block;
    text-align: right;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.form-group a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    /*background: linear-gradient(to right, #81A275, #A54258);*/
    background: #A54258;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

    .btn:hover {
        /*    background: linear-gradient(to left, #81A275, #A54258);*/
        background: #8f384b;
    }

.signup {
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #00a3e0;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
