html[b-ahwkw71mva], body[b-ahwkw71mva] {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page[b-ahwkw71mva] {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
