.filter-buttons {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid black; 
    background-color: white; 
    color: black;
    font-size: 14px; 
    font-weight: 600;
    text-transform: uppercase; 
    cursor: pointer; 
    transition: all 0.3s ease; 

}

    .filter-btn:hover {
        background-color: #f0f0f0; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

    .filter-btn:active {
        transform: translateY(1px); 
        box-shadow: none;
    }
