@using System.Collections.Generic

<div class="produtos-slider">
    @if (Produtos == null)
    {
        <div class="loading-message">
            <p>A carregar produtos...</p>
        </div>
    }
    else if (Produtos.Count == 0)
    {
        <div class="no-products-message">
            <p>Nenhum produto disponível!</p>
        </div>
    }
    else
    {
        <div class="slider-container">
            @foreach (var produto in Produtos)
            {
                <div class="produto-item" @onclick="() => OnProdutoClick(produto.ID)">
                    <img alt="@produto.Nome" src="@produto.UrlImagem" width="200" height="200" />
                    <h3>@produto.Nome</h3>
                    <p>Preço: @produto.Preco €/Un</p>
                    <div class="actions">
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public List<Produto>? Produtos { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    public void OnProdutoClick(int id)
    {
        NavigationManager.NavigateTo($"/products/{id}");
    }
}
