.filter-buttons[b-dmq7e0xyfh] {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.filter-btn[b-dmq7e0xyfh] {
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid black; 
    background-color: white; 
    color: black;
    font-size: 14px; 
    font-weight: 600;
    text-transform: uppercase; 
    cursor: pointer; 
    transition: all 0.3s ease; 

}

    .filter-btn:hover[b-dmq7e0xyfh] {
        background-color: #f0f0f0; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

    .filter-btn:active[b-dmq7e0xyfh] {
        transform: translateY(1px); 
        box-shadow: none;
    }
