@inject AuthStateService AuthState
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="header">
    <div class="navbar-title">
        <NavLink href="">
            <h1>Que Visto Hoje?</h1>
        </NavLink>
    </div>

    <div>
        <nav class="nav">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                <img src="_content/RCLGeral/images/location.png" alt="Sobre" class="nav-icon" />
                Sobre
            </NavLink>
            <NavLink class="nav-link" href="cart">
                <img src="_content/RCLGeral/images/cart.png" alt="Carrinho" class="nav-icon" />
                Carrinho
            </NavLink>
            
            @if (AuthState.IsAuthenticated)
            {
                @* <NavLink class="nav-link" href="favorites">
                    <img src="_content/RCLGeral/images/heartfill.png" alt="Favoritos" class="nav-icon" />
                    Favoritos
                </NavLink> *@
                <NavLink class="nav-link" href="orders">Suas Encomendas</NavLink>
                <NavLink class="nav-link" href="profile">Conta</NavLink>
                <NavLink class="nav-link" @onclick="Logout">Logout</NavLink>
            }
            else
            {
                <NavLink @onclick="Login" class="nav-link">Login</NavLink>
                <NavLink class="nav-link" href="register">Register</NavLink>
            }
        </nav>
    </div>
</div>

@code {

    protected override void OnInitialized(){
        AuthState.OnChange += StateHasChanged;
    }

    private void Login(){
        NavigationManager.NavigateTo("/login?returnUrl=/cart");
    }

    private void Logout(){

        AuthState.IsAuthenticated = false;
        NavigationManager.NavigateTo("/");
    }

    public void Dispose(){
        AuthState.OnChange -= StateHasChanged;
    }
}
