<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(RCLGeral._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(RCLGeral.Components.Layout.MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated != true)
                {
                    <RCLGeral.Components.Pages.Login />
                }
                else
                {
                    <p>Não tem permissão para aceder a esta página.</p>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
