body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.cart {
    width: 65%;
}

.summary {
    width: 30%;
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
}

.item img {
    width: 100px;
    height: 120px;
    margin-right: 20px;
    border-radius:10px;
}

.item-details {
    flex-grow: 1;
}

.item-details h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.item-details p {
    margin: 5px 0;
    font-size: 14px;
}

.item-quantity {
    display: flex;
    align-items: center;
}

.item-quantity input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
}

.item-price {
    text-align: right;
}

.item-price p {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.remove {
    font-size: 12px;
    color: #888;
    text-decoration: none;
}

.remove:hover {
    text-decoration: underline;
}

.back-to-shop {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.back-to-shop a {
    color: #00aaff;
    text-decoration: none;
    font-size: 14px;
}

.back-to-shop a:hover {
    text-decoration: underline;
}

.summary h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.summary input {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.summary button {
    padding: 10px 20px;
    background-color: #A54258;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
}

.summary button:hover {
    background-color: #8a3648;
}

.summary p {
    margin: 10px 0;
    font-size: 16px;
}

.summary .total {
    font-size: 18px;
    font-weight: 700;
}

.summary .terms {
    font-size: 12px;
    color: #888;
}

.summary .terms a {
    color: #00aaff;
    text-decoration: none;
}

.summary .terms a:hover {
    text-decoration: underline;
}

.summary .checkbox {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.summary .checkbox input {
    margin-right: 5px;
}

.summary .checkbox label{
    width: 400px;
}

.summary .add-notes {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

.summary .add-notes:hover {
    background-color: #e0e0e0;
}
