body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

    .header nav a {
        margin-left: 20px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-section, .summary-section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-section {
    flex: 0 0 65%;
}

.summary-section {
    flex: 0 0 30%;
}

.summary-section h3{
    margin-top: 20px;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group small {
    display: block;
    margin-top: 5px;
    color: #888;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #A54258;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.summary-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .summary-item:last-child {
        font-weight: bold;
    }

.validation-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Estilos adicionais para o componente de pagamento */
.payment-methods {
    margin-bottom: 20px;
}

    .payment-methods label {
        display: block;
        margin-bottom: 10px;
    }

    .payment-methods input[type="radio"] {
        margin-right: 10px;
    }

.payment-details {
    margin-top: 20px;
}

.card-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

    .card-icons img {
        margin-right: 10px;
        height: 30px;
    }

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
