@using Microsoft.AspNetCore.Components.Routing

@inject NavigationManager NavigationManager

@if (IsVisible)
{
    <div class="notification-overlay">
        <div class="notification @NotificationType">
            <div class="notification-content">
                <h2 style="margin-bottom:20px;">@TextoPrincipal</h2>
                <p style="font-size: smaller; margin-bottom:20px;">Veja as atualizações das Encomendas</p>
                <button class="btn btn-primary" @onclick="NavegarParaEncomendas">Encomendas</button>
            </div>
        </div>
    </div>
}

@code {

    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public string? TextoPrincipal { get; set; }
    [Parameter] public string NotificationType { get; set; } = "success";
    [Parameter] public EventCallback OnClose { get; set; }

    private void NavegarParaEncomendas()
    {
        NavigationManager.NavigateTo("/orders");
    }

    private void Close()
    {
        IsVisible = false;
        OnClose.InvokeAsync();
    }
}
