.contacto-container[b-ouj53fka8v] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.contacto-content[b-ouj53fka8v] {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2[b-ouj53fka8v] {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.contacto-info[b-ouj53fka8v] {
    margin-bottom: 20px;
}

.contacto-info p[b-ouj53fka8v] {
    margin: 10px 0;
}

.acoes[b-ouj53fka8v] {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-voltar[b-ouj53fka8v] {
    background-color: #A54258;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.btn-voltar:hover[b-ouj53fka8v] {
    background-color: #8e3a4c;
}

@media (max-width: 600px) {
    .contacto-content[b-ouj53fka8v] {
        padding: 20px;
    }
}
